/*----------------------------------------
  Super
----------------------------------------*/

  *, ::after, ::before {
    
    box-sizing: border-box;
  }

/*----------------------------------------
  Global Styles
----------------------------------------*/

.container{
    padding:20px;
    max-width:600px;
  }
  
  .input-qty {
    width: 60px;
    float: right
  }
  
  .table-cart > tr > td {
    vertical-align: middle !important;
  }

  .flow-right-nav {
    display: flex;
  }

.text{
  color: antiquewhite;
}

/*----------------------------------------
  Shop Styles
----------------------------------------*/

  .catalogue {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }


/*----------------------------------------
  Cart Styles
----------------------------------------*/

